/*  display is flex so side-bar and container are side by side */

/* col 10 makes it take up 10/12 of the screen, so no need for width */
.spotify__home-container {
    display: flex;
}


/* Playlist container */
/*
    col 10 makes it take up 10/12 of the screen, so no need for width
    if overflow: hidden wasn't used in style.css, the playlist-container would be scrollable and under the side-bar
*/

.spotify__home-container_playlist {
    height: 100vh;
    flex: 1;
    overflow: hidden;
    background-color: #000000;
}

.spotify__home-container_playlist-container {
    background-color: #1D1D1D;
    border-radius: 10px;
    width: calc(100% - 7px); /* testing out calc */
    height: calc(100% - 18px);
    margin-top: 8px;
    border-radius: 10px;
}