/*      Side-bar        */

/*  col 2 makes it take up 2/12 of the screen, so no need for width */

.spotify__home-container_side-bar {
    background-color: #000000;
    width: 350px;
    height: 100vh;
    display: flex;
    /* display is flex because we want to use flex-direction: column */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    color: #A7A7A7;
    /* font settings, font was imported in style.css */
    font-size: 15px;
    font-family: "CircularSpotifyText-Medium";
    margin: 0px;
}

/*      Spotify logo, home, and search      */

.spotify__home-container_side-bar1 {
    margin-left: 2px;
    margin-top: -2px;
    margin-bottom: 10px;
    background-color: #121212;
    width: calc(100% - 16px); /* Made side-bar 1 and 2 responsive with width change of container */
    height: 142px;
    border-radius: 10px;
    flex-shrink: 0;
    /* flex-shrink prevents shrinking, the containers arent "flexible" and their heights arent affected */
}

.spotify__home-container_side-bar_logo {
    width: 80px;
    margin: 1rem;
    text-align: left;
    margin-bottom: 4px;
}

.spotify__home-container_side-bar-items {
    width: 100%;
    margin-left: 6px;
    overflow: visible;
}

.spotify__home-container_side-bar-items-container-icon {
    font-size: 22px;
    color: #A7A7A7;
}

/* micro-adjustments */

.fa-house,
.fa-magnifying-glass {
    margin-bottom: 9px;
    padding-right: 5px;
    margin-right: 15px;
}

.fa-magnifying-glass {
    padding-right: 8px
}

.spotify__home-container_side-bar-items-container p {
    margin-top: 7px;
    margin-left: 1px;
}

.spotify__home-container_side-bar-items-container {
    margin-left: 15px;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    /* flex-direction row in order to align the text to the right of the icon */
    align-items: center;
    cursor: pointer;
    overflow: visible;
}

.spotify__home-container_side-bar-items-container2 {
    display: flex;
    flex-direction: row;
    margin-top: -7px;
}

/*
    when you hover over the div, the text and icon will change color
    if you only did .spotify__home-container_side-bar-items-container:hover, it would only change the color of the div
    and if you only did .spotify__home-container_side-bar-items-container:hover p and 
    .spotify__home-container_side-bar-items-container-icon, it would only change the color of the text and icon seperately
*/

.spotify__home-container_side-bar-items-container:hover .spotify__home-container_side-bar-items-container-icon,
.spotify__home-container_side-bar-items-container:hover p {
    color: #ffffff;
    transition: ease-in-out 0.2s;
}

.spotify__home-container_side-bar-items-container:not(:hover) .spotify__home-container_side-bar-items-container-icon,
.spotify__home-container_side-bar-items-container:not(:hover) p {
    transition: ease-in-out 0.2s;
}

/* when you click on the div of home and search , the text and icon will change color */

.spotify__home-container_side-bar-items-container p.clicked,
.spotify__home-container_side-bar-items-container-icon.clicked {
    color: #ffffff;
}

.spotify__home-container_side-bar-items-container .circle-icon {
    color: #ffffff;
    position: relative;
    left: -89px;
    top: -9px;
    /* find a better way to adjust position*/
    font-size: 8px;
}

/*      the library container       */

.spotify__home-container_side-bar2 {
    margin-top: -2px;
    background-color: #121212;
    width: calc(100% - 16px);
    height: calc(100% - 158px);
    border-radius: 10px;
    flex-shrink: 0;
}

.spotify__home-container_side-bar-items_library-container {
    margin-left: 0px;
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spotify__home-container_side-bar-items_library-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.spotify__home-container_side-bar-items_library-container button {
    all: unset;
    background-color: #121212;
    border-radius: 50%;
    margin-left: calc(100% - 190px);
    position: relative;
    top: -6px;
    right: 6px;
    padding: 0px 6px;
}

/* find a way to center it with the button */

.fa-plus {
    color: #A7A7A7;
    font-size: 18px;
}

.fa-layer-group {
    margin-top: 3px;
    padding-right: 22px;
    margin-right: 7px;
}

.spotify__home-container_side-bar_library-create-container-items {
    background-color: #242424;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 18px;
    margin-right: 20px;
    padding: 14px 22px;
    border-radius: 10px;
    overflow: hidden;
}

.spotify__home-container_side-bar_library-create-container-items p {
    cursor: default;
}

.spotify__home-container_side-bar_library-create-container-items button {
    background-color: #ffffff;
    font-size: 13px;
    border-radius: 20px;
    padding: 5px 15px;
    border: none;
}

.library-text {
    font-size: 14px;
    font-family: "CircularSpotifyText-Light";
    margin-top: -9px;
}

.library-header {
    margin-top: 6px;
}

.spotify__home-container_side-bar_library-extras-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 90px;
}

.spotify__home-container_side-bar_library-extras-container-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.spotify__home-container_side-bar_library-extras-container-items p {
    color: #979797;
    font-size: 11px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.spotify__home-container_side-bar_library-extras-container-items p.spotify__home-cookies {
    font-size: 13px;
}

.spotify__home-container_side-bar_library-extras-container button {
    all: unset;
    font-size: 14px;
    font-family: "CircularSpotifyText-Black";
    color: #ffffff;
    border-radius: 30px;
    background-color: #121212;
    padding: 5px 15px;
    margin-top: 37px;
    margin-left: 14px;
    border: 1px solid #727272;
}

/* Hovers and such */

/* 
    inconsistent with class name and hover; icon has a class name=s potify__home-container_side-bar-items-container-icon from above
    figure out a better process of naming and classes

    also, figure out why i need to call the header twice
*/

.spotify__home-container_side-bar-items_library-container-header:hover {
    color: #ffffff;
    transition: ease-in-out 0.2s;
}

.spotify__home-container_side-bar-items_library-container-header:hover .fa-layer-group {
    color: #ffffff;
    transition: ease-in-out 0.2s;
}

.spotify__home-container_side-bar-items_library-container-header:not(:hover) {
    transition: ease-in-out 0.2s;
}

.spotify__home-container_side-bar-items_library-container-header:not(:hover) .fa-layer-group {
    transition: ease-in-out 0.2s;
}

.spotify__home-container_side-bar_library-create-container-items button:hover {
    background-color: #F6F6F6;
    scale: 1.04;
}

.spotify__home-container_side-bar-items_library-container button:hover,
.fa-plus:hover {
    background-color: #191919;
    color: #ffffff;
    transition: ease-in-out 0.2s;
}

.spotify__home-container_side-bar-items_library-container button:not(:hover) .fa-plus:not(:hover) {
    transition: ease-in-out 0.2s;
}

.spotify__home-container_side-bar_library-extras-container-items p {
    cursor: pointer;
}

.spotify__home-container_side-bar_library-extras-container-items p.spotify__home-cookies:hover {
    text-decoration: underline;
}

.spotify__home-container_side-bar_library-extras-container button:hover {
    transform: scale(1.05);
    border-color: #ffffff;
}