/* nav card - the black bar with arrow and signup/login */

.spotify__nav-card {
    width: 100%;
    height: 57px;
    background-color: #101010;
    justify-content: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify__nav-card_history {
    margin-left: 20px;
    font-size: 18px;
    color: #8D8D8D;
}

/* bad name - this is the conatiner for the arrows, adjusts the margin of their container */

.spotify__nav-card_history_container1 {
    margin-left: 10px;
}

.spotify__nav-card_history_container1 button {
    all: unset;
    background-color: #050505;
    margin-right: 9px;
    border-radius: 50%;
    padding: 0px 8px;
    cursor: not-allowed;
}

.spotify__nav-card_entry {
    margin-left: auto;
    display: flex;
    font-size: 14px;
    align-items: center;
    font-family: "CircularSpotifyText-Medium";
    overflow: visible;
}

.spotify__nav-card_entry-sign-up {
    position: relative;
    top: 1px;
    color: #A7A7A7;
    margin-right: 33px;
    cursor: pointer;
}

.spotify__nav-card_entry-login {
    background-color: #ffffff;
    border-radius: 30px;
    color: #000000;
    margin-right: 25px;
    cursor: pointer;
    padding: 11px 30px;
}

/* make the stupid text ****ing centered */

.spotify__nav-card_entry-login a {
    position: relative;
    top: 1px;
}

.spotify__nav-card_entry-sign-up:hover {
    color: #ffffff;
    scale: 1.07;
}

.spotify__nav-card_entry-login:hover {
    background-color: #F6F6F6;
    scale: 1.05;
}