<div class="spotify__nav-card">
    <div class="spotify__nav-card_history">
        <div class="spotify__nav-card_history_container1">
            <button><fa-icon [icon]="fachevronLeft"></fa-icon></button>
            <button><fa-icon [icon]="fachevronRight"></fa-icon></button>
        </div>
    </div>            
    <div class="spotify__nav-card_entry">
        <div class="spotify__nav-card_entry-sign-up"><a>Sign up</a></div>
        <div class="spotify__nav-card_entry-login"><a>Log in</a></div>
    </div>
</div>